.session_image {
    width: 100%;
    height: 400px;
    position: fixed;
    z-index: -1;
}



.session_container {
    display: flex;
    flex-direction: column;
    width: 480px;
    padding: 24px;
    border-radius: 16px;
    background: white;
    position: relative;
    margin: 0 auto;
    top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;


}

.session_form_input {
    width: 430px;
    height: 47px;
    padding-right: 14px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid gray;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 10px;
    margin-top: -2px;
}

.session_form_input:focus {
    outline: none !important;
    border: 2px solid #428A13;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    
}

input:-internal-autofill-selected {
    background-color: white !important;
}

.session_form_label {
    font-size: 12px;
    background-color: white;
    margin-left: 7px;
    z-index: 2;

}

.session_form_submit {
    width: 430px;
    height: 47px;
    padding-right: 14px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #428A13;
    color: white;
    font-size: 15px;
    font-weight: 700;
    box-sizing: border-box;
    background-color: #428A13;
    margin-bottom: 20px;
    margin-top: 10px;
}

.session_form_submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.session_form_navlink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    align-self: center;
    text-decoration: none;
    margin-bottom: 5px;
    margin-top: 5px;

}


.session_form_link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #428A13;
    align-self: center;
    text-decoration: none;
}

.session_form_link:hover {
    opacity: 0.8;
}

.session_form_link_text {
    position: relative;
}

.demo_btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #428A13;
    align-self: center;
    background: white;
    border: none;
    text-decoration: none;
}

.demo_btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.session_form_error {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: red;
    text-align: center;
}


.session_form_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #414141;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 7px;
}